
#condicional
<IfModule mod_rewrite.c> 
	# Activar RewriteEngine
	RewriteEngine on

	# Reescribir la URL solicitada por el usuario
	#   Entrada:  clientes/NOMBRE/
	#   Salida: categoria.php?id=NOMBRE
	
	RewriteRule ^questions/(\w+)/?$ questions.php?IdC=$1
	RewriteRule ^answers/(\w+)/?$ answers.php?IdP=$1
</IfModule>

<IfModule mod_rewrite.c> 
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f
	RewriteRule ^(.*)$ $1.php 
</IfModule>

