
#condicional
<IfModule mod_rewrite.c> 
	# Activar RewriteEngine
	RewriteEngine on

	# Reescribir la URL solicitada por el usuario
	#   Entrada:  clientes/NOMBRE/
	#   Salida: categoria.php?id=NOMBRE
	
	RewriteRule ^job/(\w+)/?$ job.php?IdJ=$1
</IfModule>
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php 

