
#condicional
<IfModule mod_rewrite.c> 
	RewriteEngine on
	RewriteCond %{SCRIPT_FILENAME} !-d
	RewriteCond %{SCRIPT_FILENAME} !-f

	RewriteRule ^details/(\w+)/(.*)/?$ details.php?IdC=$1&Name=$2 
	RewriteRule ^public-profile/(.*)/?$ public-profile.php?User=$1 

</IfModule>

<IfModule mod_rewrite.c> 
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME}\.php -f
	RewriteRule ^(.*)$ $1.php 
</IfModule>

